@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-container {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

ul.right-side {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}

a,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.secondary-text {
  margin: 0;
}

.hero-button {
  background: #3882f6;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px 24px;
  margin-top: 10px;
  font-weight: bold;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  margin: 0 130px 50px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-left-side {
  width: 460px;
}

.hero-right-side img {
  height: 240px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.items {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.item {
  max-width: 200px;
  text-align: center;
}

.item img {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.items {
  margin: 0 130px 50px;
}