@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-container {
  background-color: #1f2937;
}

.hero-container,
.information,
.quotes-container,
.call-to-action-container,
.footer {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

ul.right-side {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}

a,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.secondary-text {
  margin: 0;
}

.btn {
  background: #3882f6;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px 24px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.hero-content {
  display: flex;
  justify-content: space-around;
  margin: 0 130px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-left-side {
  width: 460px;
}

.hero-right-side img {
  height: 240px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.items {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.item {
  max-width: 200px;
  text-align: center;
}

.item img {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.quotes-container {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes-element {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
}

.quotes-element .quote-text {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  margin: 0;
}

.quotes-element .quote-author {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 0 auto;
}

.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content {
  background: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  border-radius: 10px;
  padding: 32px 0;
}

.cta-left p {
  color: #fff;
  margin: 0;
}

.cta-primary-text {
  font-weight: 700;
  font-size: 18px;
}

.cta-secondary-text {
  font-size: 14px;
}

.outline {
  border: 1px solid #fff;
}

.footer {
  background: #1f2937;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}